* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-color: blue;
  background-size: cover;
  background-position: bottom;
  transition: .4s ease;
}

.app.warm {
  background-color: red;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-bar {
  width: 100%;
  padding: 20px;
  font-size: 30px;
}

.location-box {
  color: #fff;
}